:root {
    --primary-color: rgb(0, 86, 63);
    --secondary-color: rgb(255, 255, 255);
    --text-color: rgb(17, 17, 17);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: rgb(243, 239, 239);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}

picture img {
    width: 100%;
    display: block;
}

main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

section {
    background: var(--secondary-color);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.weather-icon {
    width: 50px;
    display: block;
    margin: 0 auto 1rem auto;
}

.data,
.weather {
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}